body {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.limegreen {
    color: limegreen;
}

/* navigation */

.nav-link:active,
.nav-link:hover {
    color: limegreen !important;
}

/* fonts */
h1 {
    color: limegreen;
}
/* Placeholder */

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }


/* Link */
a {
    color: limegreen;
    text-decoration: none;
  }
a:visited {
    color:white;
    text-decoration: none
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }

/* footer */
.footer {
    font-size: 0.8rem;
}