body {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.limegreen {
    color: limegreen;
}

/* navigation */

.nav-link {
    cursor: pointer;
}

.nav-link:active,
.nav-link:hover {
    color: limegreen !important;
}

/* fonts */
h1 {
    color: limegreen;
}

/* button */

#region-select {
    color: black;
    background-color: white;
    border-color: limegreen
}


#region-select:hover {
    color: white;
    background-color: limegreen;
    border-color: white;
}


/* footer */
.footer {
    font-size: 0.8rem;
}