/* general */
body {
    font-family: "Montserrat";
    font-size: 0.9rem;
}

.limegreen {
    color: limegreen;
}

/* navigation */
.nav-link:active,
.nav-link:hover {
    color: limegreen !important;
}

.navbar-nav{
    font-size: medium;
}

/* fonts */
h1 {
    color: limegreen;
    font-weight: bold;
}
/* Placeholder */

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }


/* Link */
a {
    color: limegreen;
    text-decoration: none;
  }
a:hover {
    color:white;
    text-decoration: none
  }


/* footer */
.footer {
    font-size: 0.8rem;
}